table,th,td{
    border: 2px solid rgb(14, 1, 5);
   
}
th{
    height: 50%;

}
th{
    text-align: center;
    vertical-align: 40px;
}
td{
    height: 50px;
    vertical-align: bottom;
    text-align: center;
    padding: 10px;
    margin: 5px;
}